<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hun.service.mapper.base.ScheduleMapper">

    <resultMap id="BaseResultMap" type="com.hun.bean.entity.base.Schedule">
            <id property="scheduleId" column="schedule_id" jdbcType="BIGINT"/>
            <result property="gradeId" column="grade_id" jdbcType="BIGINT"/>
            <result property="gradeName" column="grade_name" jdbcType="VARCHAR"/>
            <result property="teacherId" column="teacher_id" jdbcType="BIGINT"/>
            <result property="employeeName" column="employee_name" jdbcType="VARCHAR"/>
            <result property="gradeRoom" column="grade_room" jdbcType="VARCHAR"/>
            <result property="startTimestamp" column="start_timestamp" jdbcType="BIGINT"/>
            <result property="startDatetime" column="start_datetime" jdbcType="TIMESTAMP"/>
            <result property="endTimestamp" column="end_timestamp" jdbcType="BIGINT"/>
            <result property="endDatetime" column="end_datetime" jdbcType="TIMESTAMP"/>
            <result property="consumePeriod" column="consume_period" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="income" column="income" jdbcType="DECIMAL"/>
            <result property="chargeMethodId" column="charge_method_id" jdbcType="BIGINT"/>
            <result property="chargeMethodExpression" column="charge_method_expression" jdbcType="DECIMAL"/>
            <result property="gradeNowStudentCount" column="grade_now_student_count" jdbcType="INTEGER"/>
            <result property="gradeMaxStudentCount" column="grade_max_student_count" jdbcType="INTEGER"/>
            <result property="scheduleState" column="schedule_state" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        schedule_id,grade_id,grade_name,
        teacher_id,employee_name,grade_room,
        start_timestamp,start_datetime,end_timestamp,
        end_datetime,consume_period,price,income,
        charge_method_id,charge_method_expression,grade_now_student_count,grade_max_student_count, schedule_state
    </sql>

    <select id="getByMonthAndGroupByGradeId" resultType="com.hun.bean.entity.base.Schedule">
        SELECT <include refid="Base_Column_List"></include>
        FROM `hun_base`.`schedule`
        where end_timestamp >= #{startTimestamp}
          and  #{endTimestamp} > end_timestamp
        GROUP BY grade_id;
    </select>
    <update id="plusNowStudentCount">
        UPDATE `hun_base`.`schedule`
        <set>grade_now_student_count = grade_now_student_count + #{step,jdbcType=INTEGER}</set>
        WHERE schedule_id = #{scheduleId,jdbcType=BIGINT}
    </update>


    <select id="getBuyWaitScheduleByGradeId" resultType="com.hun.bean.vo.BuyScheduleVO">
                SELECT s.schedule_id, s.grade_room, s.start_datetime, s.end_datetime, s.consume_period, s.price,
                       s.schedule_state, s.grade_now_student_count, s.grade_max_student_count, (ss.student_id is not null) as isBuy
                FROM `hun_base`.`schedule` as s
                    left join `hun_expand`.`student_schedule` as ss
                        on s.schedule_id = ss.schedule_id
                        and ss.student_id = #{studentId, jdbcType=BIGINT}
                where s.grade_id = #{gradeId,jdbcType=BIGINT}
                    and s.schedule_state = ${@com.hun.bean.enums.ScheduleState@WAIT.code}
    </select>

    <select id="getAppSchedules" resultType="com.hun.bean.app.GradeScheduleBO">
        SELECT schedule_id, grade_room, start_datetime, end_datetime, consume_period as period,
               price, grade_now_student_count as nowNumber, grade_max_student_count as maxNumber
        FROM `hun_base`.`schedule`
        WHERE grade_id = #{gradeId,jdbcType=BIGINT}
          AND schedule_state = ${@com.hun.bean.enums.ScheduleState@WAIT.code}
          AND grade_max_student_count > grade_now_student_count
    </select>
</mapper>
