<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hun.service.mapper.expand.RecordGradeDropMapper">

    <resultMap id="BaseResultMap" type="com.hun.bean.entity.expand.RecordGradeDrop">
            <id property="recordGradeDropId" column="record_grade_drop_id" jdbcType="BIGINT"/>
            <result property="gradeInfoId" column="grade_info_id" jdbcType="BIGINT"/>
            <result property="studentId" column="student_id" jdbcType="BIGINT"/>
            <result property="studentName" column="student_name" jdbcType="VARCHAR"/>
            <result property="courseId" column="course_id" jdbcType="BIGINT"/>
            <result property="courseName" column="course_name" jdbcType="VARCHAR"/>
            <result property="gradeId" column="grade_id" jdbcType="BIGINT"/>
            <result property="gradeName" column="grade_name" jdbcType="VARCHAR"/>
            <result property="teacherId" column="teacher_id" jdbcType="BIGINT"/>
            <result property="employeeName" column="employee_name" jdbcType="VARCHAR"/>
            <result property="chargeMethodId" column="charge_method_id" jdbcType="BIGINT"/>
            <result property="chargeMethodName" column="charge_method_name" jdbcType="VARCHAR"/>
            <result property="chargeMethodExpression" column="charge_method_expression" jdbcType="DECIMAL"/>
            <result property="consumePeriod" column="consume_period" jdbcType="INTEGER"/>
            <result property="missPeriod" column="miss_period" jdbcType="INTEGER"/>
            <result property="totalPeriod" column="total_period" jdbcType="INTEGER"/>
            <result property="spendBalance" column="spend_balance" jdbcType="DECIMAL"/>
            <result property="lockBalance" column="lock_balance" jdbcType="DECIMAL"/>
            <result property="lockSpendBalance" column="lock_spend_balance" jdbcType="DECIMAL"/>
            <result property="gradeState" column="grade_state" jdbcType="TINYINT"/>
            <result property="dropDatetime" column="drop_datetime" jdbcType="TIMESTAMP"/>
            <result property="dropTimestamp" column="drop_timestamp" jdbcType="BIGINT"/>
            <result property="dropReason" column="drop_reason" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        record_grade_drop_id,grade_info_id,student_id,
        student_name,course_id,course_name,
        grade_id,grade_name,teacher_id,
        employee_name,charge_method_id,charge_method_name,
        charge_method_expression,consume_period,miss_period,
        total_period,spend_balance,lock_balance,
        lock_spend_balance,grade_state,drop_datetime,drop_timestamp,
        drop_reason
    </sql>


    <select id="getCountByGradeIdAndMonth" resultType="Integer">
        SELECT COUNT(*)
        FROM `hun_expand`.`record_grade_drop`
        WHERE grade_id = #{gradeId, jdbcType=BIGINT}
        and drop_timestamp >= #{startTimestamp, jdbcType=BIGINT}
        and #{endTimestamp, jdbcType=BIGINT} > drop_timestamp
    </select>

    <select id="getByMonthAndGroupByGradeId" resultType="com.hun.bean.entity.expand.RecordGradeDrop">
        SELECT *
        FROM `hun_expand`.`record_grade_drop`
        WHERE drop_timestamp >= #{startTimestamp, jdbcType=BIGINT}
          and #{endTimestamp, jdbcType=BIGINT} > drop_timestamp
        group by grade_id
    </select>
</mapper>
